/* Global */

@font-face {
    font-family: "Electrolize";
    src: url(font/electrolize.ttf);
    font-style: normal;
}

* {
    border-radius: 0 !important;
}

body {
    font-family: "Electrolize";
    background-color: #242426;
}

h1 {
    color: #ebeaea;
    font-size: 70px;
}

h2 {
    color: #ebeaea;
    font-size: 20px;
}

h3 {
    font-size: 2.7vh;
    font-weight: 500;
}

h4 {
    text-align: center;
    font-size: 2.2vh;
    color:#ebeaea;
}

/* Nav Bar */
.navbar {
    background: transparent;
    border: none;
}
.navbar-brand {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 65px;
}

.navbar ul {
    padding-top: 22px;
}

.navbar-nav a {
    color: #ffffff !important;
}

/* Header */
header {
    padding-top: 250px;
    padding-left: 150px;
    height: 900px;
    background-image: url(../imgs/headerbg3.jpg);
    background-size: cover;
}

.landing {
}

/* Recruiting Notice */
#recruiting {
    background-color: #7c3838;
}

/* Sections */
#tourneys, #prizes, #community {
    padding: 200px 150px 200px 150px;
    font-size: 1.8vh;
    
}

#tourneys, #community {
    background-color: #dadada;
    
}

#prizes {
    color: #ebeaea;
}

/* Images */
.images img {
    display: block;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.images-g img {
    width: 100%;
    display: block;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
}