/* == fonts == */
@font-face {
    font-family: "District Pro Thin";
    src: url(fonts/districtprothin.otf);
}

body {
    margin: 0;
    background-color: #6534ff;
}

/*=== .box {
    margin-top: 30px;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
}
.rocket {
    margin-top: -7px;
    color: white;
    font-size: 14px;
    float: left;
    -moz-transform:translateX(-100%);
    -webkit-transform:translateX(-100%);	
    transform:translateX(-100%);
    
     Apply animation to this element 	
    -moz-animation: rocket 15s linear infinite;
    -webkit-animation: rocket 15s linear infinite;
    animation: rocket 15s linear infinite;
}
     Move it (define the animation) 
    @-moz-keyframes rocket {
    0%   { -moz-transform: translateX(-100%); }
    100% { -moz-transform: translateX(100%); }
}
    @-webkit-keyframes rocket {
    0%   { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(100%); }
}
    @keyframes rocket {
    0%   { 
    -moz-transform: translateX(-100%); 
    -webkit-transform: translateX(-100%); 
    transform: translateX(-100%); 		
 }
    100% { 
    -moz-transform: translateX(100%); 
    -webkit-transform: translateX(100%); 
    transform: translateX(100%); 
 }
}




.rocket-2{
    margin-top: 31px;
    width: 100;
    color: white;
    font-size: 14px;
    float: right
}  ==== */

.satellites {
    height: 700px;
    margin: auto;
    
}

h1 {
    font-family: "District Pro Thin";
    font-size: 120px;
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 30px;  
    margin: 200px auto;
}


h2 {
    font-family: "District Pro Thin";
    color: white;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
    margin: -220px 0px 0px -25px;
}

h3 {
    font-family: "District Pro Thin";
    color: white;
    font-weight: 600;
    text-align: center;
    margin:100px auto;
    border-radius: 3px;
    border: 2px solid;
    border-color: white;
    padding: 20px; 
    width: 200px;
}


@-webkit-keyframes .rocket-shuttle {
	  0%   { -webkit-transform: translate(0, 0); }
	  100% { -webkit-transform: translate(0, -200%); }
	} 
    @keyframes .rocket-shuttle {
	  0%   { -webkit-transform: translate(0, 0); }
	  100% { -webkit-transform: translate(0, -100%); }
	} 

.circle {
    color: white;
    position: absolute;
    left: 950px;
    top: 300px;
    z-index: -1;
       -webkit-animation: myOrbit 4s linear infinite;
       -moz-animation: myOrbit 4s linear infinite;
         -o-animation: myOrbit 4s linear infinite;
            animation: myOrbit 200s linear infinite; 
    
}
@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(1000px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(1000px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(1000px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(1000px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(1000px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(1000px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(465px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(465px) rotate(-360deg); }
}


